/* Imports */
@import "./albert.css";

/* Base app */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", "Avenir Next", Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background: url("../images/backgrounds/qilin.png");
  background-size: cover;
  background-position: center center;
  transition: background-image 1s ease;
  user-select: none;
  -webkit-user-select: none;
}

#gradient {
    background: linear-gradient(to bottom, rgba(128, 103, 51, 0.8) 10%, rgba(168, 168, 168, 0.05) 70%);
    width: 100vw;
    height: 100vh;
}

/* Frame bar */
#frameBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

#frameMain {
  display: flex;
  background: #c5aa71;
}

#frameResizableTop {
  height: 2px;
  width: 100%;
  background: #c5aa71;
  -webkit-app-region: no-drag;
}

.frameResizableVert {
  width: 2px;
  -webkit-app-region: no-drag;
}

#frameContentWin {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  -webkit-app-region: drag;
}

#frameContentDarwin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  -webkit-app-region: drag;
}

#frameTitleDock {
  padding: 0px 10px;
}
#frameTitleText {
  font-size: 14px;
  font-family: "Albert Sans";
  font-weight: "bold";
  letter-spacing: 0.5px;
}

#frameButtonDockWin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -2px;
  right: -2px;
  height: 22px;
}
#frameButtonDockWin > .frameButton:not(:first-child) {
  margin-left: -4px;
}

#frameButtonDockDarwin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -1px;
  right: -1px;
}

.frameButton {
  background: none;
  border: none;
  height: 22px;
  width: 39px;
  cursor: pointer;
}
.frameButton:hover,
.frameButton:focus {
  background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
  background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
  outline: 0px;
}

#frameButton_close:hover,
#frameButton_close:focus {
  background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
  background: rgba(235, 0, 0, 0.61) !important;
}

.frameButtonDarwin {
  height: 10px;
  width: 10px;
  padding: 0;
  border-radius: 50%;
  border: 0px;
  margin-left: 5px;
  -webkit-app-region: no-drag !important;
  cursor: pointer;
}
.frameButtonDarwin:focus {
  outline: 0px;
}

#frameButtonDarwin_close {
  background-color: #e74c32;
}
#frameButtonDarwin_close:hover,
#frameButtonDarwin_close:focus {
  background-color: #ff9a8a;
}
#frameButtonDarwin_close:active {
  background-color: #ff8d7b;
}

#frameButtonDarwin_minimize {
  background-color: #fed045;
}
#frameButtonDarwin_minimize:hover,
#frameButtonDarwin_minimize:focus {
  background-color: #ffe9a9;
}
#frameButtonDarwin_minimize:active {
  background-color: #ffde7b;
}

#frameButtonDarwin_restoredown {
  background-color: #96e734;
}
#frameButtonDarwin_restoredown:hover,
#frameButtonDarwin_restoredown:focus {
  background-color: #d6ffa6;
}
#frameButtonDarwin_restoredown:active {
  background-color: #bfff76;
}

/* Credits */
.credits {
    position: absolute; 
    bottom: 24px; 
    left: 24px; 
    color: #fff; 
    font-size: 14px; 
    font-weight: bold;
}

/* Loading */
#loadingContainer {
  position: absolute;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 22px);
}

#loadingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadSpinnerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadCenterImage {
  position: absolute;
  width: 277px;
  height: auto;
}

#loadSpinnerImage {
  width: 280px;
  height: auto;
  z-index: 400;
}

/* Rotation animation */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

/* Landing */
#landingContainer #lower {
    position: fixed;
    bottom: 24px;
    left: 24px;
    width: calc(100vw - 48px);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#landingContainer #lower #left {
    padding-bottom: 60px;
    flex: 1;
}

#landingContainer #lower #left #server_status_wrapper {
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
}

#landingContainer #lower #left #launch_button {
    background: none;
    border: none;
    color: white;
    font-family: inherit;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    transition: text-shadow .1s ease;
    cursor: pointer;
}

#landingContainer #lower #left #launch_button:hover {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, .5);
}

#landingContainer #lower #left #launch_details {
    display: none;
    align-items: center;
}
#landingContainer #lower #left #launch_details #launch_details_left {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    margin-right: 18px;
    width: 100px;
}
#landingContainer #lower #left #launch_details #launch_details_right {
    width: 265px;
}
#landingContainer #lower #left #launch_details #launch_details_text {
    font-size: 12px;
    padding-bottom: 8px;
}
#launch_progress[value] {
  height: 10px;
  width: 265px;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  border-radius: 6px;
}
#launch_progress[value]::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.2);
}
#launch_progress[value]::-webkit-progress-value {
  background-color: #fff;
}

#landingContainer #upper {
    position: fixed;
    top: 48px;
    left: 24px;
    width: calc(100vw - 48px);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#landingContainer #upper #left {
    display: flex;
    align-items: center;
}

#landingContainer #upper #left #image_seal_container,
#landingContainer #upper #left #image_seal_container #image_seal {
    width: 42px;
    height: 42px;
}

#landingContainer #upper #left #image_seal_container #updateAvailableTooltip {
    position: relative;
    top: 12px;
    left: 0;
    width: 300px;
}

#landingContainer #upper #left #image_seal_container #updateAvailableTooltip #updateAvailableTooltipText {
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 0.2em 0.4em;
    display: inline-block;
    font-weight: bold;
    animation: updatebg 1s linear infinite;
    font-size: 12px;
}

#landingContainer #upper #left #image_seal_container {
    margin-right: 24px;
}

#landingContainer #upper #left #title_container #title_upper {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

#landingContainer #avatarBackground {
    position: fixed;
    top: 0;
    right: 24px;
    z-index: 10;
    height: 200px;
    width: 120px;
}

#landingContainer #avatarBackground #backsvg {
    width: 100%;
    height: 100%;
}

#landingContainer #avatarBackground #bordersvg {
    width: 100%;
    height: 100%;
    z-index: 12;
    position: absolute;
    top: 0;
    right: 0;
}

#landingContainer #avatarBackground #avatarContainer {
    width: 100%;
    height: 100%;
    z-index: 11; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center 40%;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
}

#landingContainer #avatarContainer #avatarOverlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(8px);
    color: white;
    font-family: inherit;
    clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
    opacity: 0;
    cursor: pointer;
}

#avatarOverlay:hover,
#avatarOverlay:focus {
  opacity: 1;
}

@keyframes updatebg {
    0% {
        background: rgba(0, 0, 0, .5);
    }

    50% {
        background: rgba(0, 0, 0, .7);
    }

    100% {
        background: rgba(0, 0, 0, .5);
    }
}

#landingContainer #upper #right #rightContainer {
    position: fixed;
    top: 216px;
    right: 24px;
    width: 120px;
}

#landingContainer #upper #right #rightContainer #user_content {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

#landingContainer #upper #right #rightContainer #mediaContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landingContainer #upper #right #rightContainer #settingsMediaButton {
    background: transparent;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 0;
    margin: 0;
}

#landingContainer #upper #right #rightContainer #settingsMediaButton:hover {
    color: rgb(190, 190, 190);
}

#landingContainer #upper #right #rightContainer #settingsMediaButton svg {
    width: 32px;
    height: 32px;
}

#landingContainer #upper #right #rightContainer .mediaContainer a {
    background: transparent;
    text-align: center;
    border: 0;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin: auto;
    margin-bottom: 12px;
}

#landingContainer #upper #right #rightContainer .mediaContainer a:hover {
    color: rgb(223, 223, 223);
}

#landingContainer #upper #right #rightContainer .mediaContainer a svg {
    width: 32px;
    height: 32px;
}

#landingContainer #lower #right #mojangStatusWrapper .bot_label {
    font-weight: bold;
}

#landingContainer #lower #right #mojangStatusWrapper:hover #mojangStatusTooltip {
    display: block;
}

#landingContainer #lower #right #mojangStatusTooltip {
    position: absolute;
    bottom: 24px;
    right: 0;
    font-size: 14px;
    background: rgba(0, 0, 0, .8);
    border-radius: 6px;
    padding: 6px;
    display: none;
}

#landingContainer #lower #right #mojangStatusTooltip #mojangStatusTooltipTitle {
    font-weight: bold;
    margin-bottom: 2px;
}


#landingContainer #lower #right #mojangStatusTooltip #mojangStatusNETitle {
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 8px;
}