/* Imports */
@import "./albert.css";
@import "./launcherold.css";

/* Base app */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", "Avenir Next", Inter, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  overflow: hidden;
}

body {
  background: url("../images/backgrounds/price_of_the_truth.png");
  background-size: cover;
  background-position: center center;
  transition: background-image 1s ease;
  user-select: none;
  -webkit-user-select: none;
}

#gradient {
  background: linear-gradient(
    to bottom,
    rgba(128, 103, 51, 0.8) 10%,
    rgba(168, 168, 168, 0.05) 70%
  );
  width: 100vw;
  height: 100vh;
}

#main {
  color: white;
}

/* Frame bar */
#frameBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 20px;
  user-select: none;
  -webkit-user-select: none;
}

#frameMain {
  display: flex;
  background: #c5aa71;
}

#frameResizableTop {
  height: 2px;
  width: 100%;
  background: #c5aa71;
  -webkit-app-region: no-drag;
}

.frameResizableVert {
  width: 2px;
  -webkit-app-region: no-drag;
}

#frameContentWin {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  -webkit-app-region: drag;
}

#frameContentDarwin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  -webkit-app-region: drag;
}

#frameTitleDock {
  padding: 0px 10px;
}
#frameTitleText {
  font-size: 14px;
  font-family: "Albert Sans";
  font-weight: "bold";
  letter-spacing: 0.5px;
}

#frameButtonDockWin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -2px;
  right: -2px;
  height: 22px;
}
#frameButtonDockWin > .frameButton:not(:first-child) {
  margin-left: -4px;
}

#frameButtonDockDarwin {
  -webkit-app-region: no-drag !important;
  position: relative;
  top: -1px;
  right: -1px;
}

.frameButton {
  background: none;
  border: none;
  height: 22px;
  width: 39px;
  cursor: pointer;
}
.frameButton:hover,
.frameButton:focus {
  background: rgba(189, 189, 189, 0.43);
}
.frameButton:active {
  background: rgba(156, 156, 156, 0.43);
}
.frameButton:focus {
  outline: 0px;
}

#frameButton_close:hover,
#frameButton_close:focus {
  background: rgba(255, 53, 53, 0.61) !important;
}
#frameButton_close:active {
  background: rgba(235, 0, 0, 0.61) !important;
}

.frameButtonDarwin {
  height: 10px;
  width: 10px;
  padding: 0;
  border-radius: 50%;
  border: 0px;
  margin-left: 5px;
  -webkit-app-region: no-drag !important;
  cursor: pointer;
}
.frameButtonDarwin:focus {
  outline: 0px;
}

#frameButtonDarwin_close {
  background-color: #e74c32;
}
#frameButtonDarwin_close:hover,
#frameButtonDarwin_close:focus {
  background-color: #ff9a8a;
}
#frameButtonDarwin_close:active {
  background-color: #ff8d7b;
}

#frameButtonDarwin_minimize {
  background-color: #fed045;
}
#frameButtonDarwin_minimize:hover,
#frameButtonDarwin_minimize:focus {
  background-color: #ffe9a9;
}
#frameButtonDarwin_minimize:active {
  background-color: #ffde7b;
}

#frameButtonDarwin_restoredown {
  background-color: #96e734;
}
#frameButtonDarwin_restoredown:hover,
#frameButtonDarwin_restoredown:focus {
  background-color: #d6ffa6;
}
#frameButtonDarwin_restoredown:active {
  background-color: #bfff76;
}

/* Credits */
.credits {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* Loading */
#loadingContainer {
  position: absolute;
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 22px);
}

#loadingContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadSpinnerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadCenterImage {
  position: absolute;
  width: 277px;
  height: auto;
}

#loadSpinnerImage {
  width: 280px;
  height: auto;
  z-index: 400;
}

/* Rotation animation */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

/* Landing */
#landingContainer #lower {
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: calc(100vw - 48px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#landingContainer #lower #left {
  padding-bottom: 60px;
  flex: 1;
}

#landingContainer #lower #left #server_status_wrapper {
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

#landingContainer #lower #left #launch_button {
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: text-shadow 0.1s ease;
  cursor: pointer;
}

#landingContainer #lower #left #launch_button:hover {
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

#landingContainer #lower #left #launch_details {
  display: none;
  align-items: center;
}
#landingContainer #lower #left #launch_details #launch_details_left {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 18px;
  width: 100px;
}
#landingContainer #lower #left #launch_details #launch_details_right {
  width: 265px;
}
#landingContainer #lower #left #launch_details #launch_details_text {
  font-size: 12px;
  padding-bottom: 8px;
}
#launch_progress[value] {
  height: 10px;
  width: 265px;
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  border-radius: 6px;
}
#launch_progress[value]::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.2);
}
#launch_progress[value]::-webkit-progress-value {
  background-color: #fff;
}

#landingContainer #upper {
  position: fixed;
  top: 48px;
  left: 24px;
  width: calc(100vw - 48px);
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#landingContainer #upper #left {
  display: flex;
  align-items: center;
}

#landingContainer #upper #left #image_seal_container,
#landingContainer #upper #left #image_seal_container #image_seal {
  width: 42px;
  height: 42px;
}

#landingContainer #upper #left #image_seal_container #updateAvailableTooltip {
  position: relative;
  top: 12px;
  left: 0;
  width: 300px;
  visibility: hidden;
  opacity: 0;
}

#landingContainer
  #upper
  #left
  #image_seal_container
  #updateAvailableTooltip
  #updateAvailableTooltipText {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0.2em 0.4em;
  display: inline-block;
  font-weight: bold;
  animation: updatebg 1s linear infinite;
  font-size: 12px;
}

#landingContainer #upper #left #image_seal_container {
  margin-right: 24px;
}

#landingContainer #upper #left #title_container #title_upper {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

#landingContainer #avatarBackground {
  position: fixed;
  top: 0;
  right: 24px;
  z-index: 10;
  height: 200px;
  width: 120px;
}

#landingContainer #avatarBackground #backsvg {
  width: 100%;
  height: 100%;
}

#landingContainer #avatarBackground #bordersvg {
  width: 100%;
  height: 100%;
  z-index: 12;
  position: absolute;
  top: 0;
  right: 0;
}

#landingContainer #avatarBackground #avatarContainer {
  width: 100%;
  height: 100%;
  z-index: 11;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center 40%;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
}

#landingContainer #avatarContainer #avatarOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  color: white;
  font-family: inherit;
  clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0 0);
  opacity: 0;
  cursor: pointer;
}

#avatarOverlay:hover,
#avatarOverlay:focus {
  opacity: 1;
}

@keyframes updatebg {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }

  50% {
    background: rgba(0, 0, 0, 0.7);
  }

  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

#landingContainer #upper #right #rightContainer {
  position: fixed;
  top: 216px;
  right: 24px;
  width: 120px;
}

#landingContainer #upper #right #rightContainer #user_content {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

#landingContainer #upper #right #rightContainer #mediaContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landingContainer #upper #right #rightContainer #settingsMediaButton {
  background: transparent;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: white;
  padding: 0;
  margin: 0;
}

#landingContainer #upper #right #rightContainer #settingsMediaButton:hover {
  color: rgb(190, 190, 190);
}

#landingContainer #upper #right #rightContainer #settingsMediaButton svg {
  width: 32px;
  height: 32px;
}

#landingContainer #upper #right #rightContainer .mediaContainer a {
  background: transparent;
  text-align: center;
  border: 0;
  cursor: pointer;
  color: white;
  display: inline-block;
  margin: auto;
  margin-bottom: 12px;
}

#landingContainer #upper #right #rightContainer .mediaContainer a:hover {
  color: rgb(223, 223, 223);
}

#landingContainer #upper #right #rightContainer .mediaContainer a svg {
  width: 32px;
  height: 32px;
}

#landingContainer #lower #right #mojangStatusWrapper .bot_label {
  font-weight: bold;
}

#landingContainer
  #lower
  #right
  #mojangStatusWrapper:hover
  #mojangStatusTooltip {
  display: block;
}

#landingContainer #lower #right #mojangStatusTooltip {
  position: absolute;
  bottom: 24px;
  right: 0;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  padding: 6px;
  display: none;
}

#landingContainer #lower #right #mojangStatusTooltip #mojangStatusTooltipTitle {
  font-weight: bold;
  margin-bottom: 2px;
}

#landingContainer #lower #right #mojangStatusTooltip #mojangStatusNETitle {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 8px;
}

/* Settings */
#settingsContainer {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  );
  gap: 48px;
  height: calc(100vh - 20px);
  padding-top: 20px;
}

#settingsContainer #settingsContainerLeft,
#settingsContainer #settingsContainerRight {
  padding: 24px;
  padding-top: 24px;
}

#settingsContainer #settingsContainerLeft {
  padding-right: 0;
  flex-shrink: 0;
  width: 160px;
}

#settingsContainer #settingsContainerRight {
  padding-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  flex-shrink: 1;
}

#settingsContainer #settingsNavContainer #settingsNavHeader {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 12px;
}

#settingsContainer #settingsNavContainer #settingsNavItemsContent {
  display: flex;
  flex-direction: column;
}

#settingsContainer
  #settingsNavContainer
  #settingsNavItemsContent
  .settingsNavItem {
  background: transparent;
  width: 100%;
  height: 24px;
  margin-bottom: 4px;
  color: rgb(201, 201, 201);
  border: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  text-align: left;
  padding: 0 8px;
  border-left: 4px solid transparent;
  cursor: pointer;
}

#settingsContainer
  #settingsNavContainer
  #settingsNavItemsContent
  .settingsNavItem:hover {
  color: white;
}

#settingsContainer
  #settingsNavContainer
  #settingsNavItemsContent
  .settingsNavItem[selected] {
  border-left-color: #c5aa71;
  color: white;
  cursor: default;
}

#settingsContainer #settingsNavContainer #settingsNavContentBottom {
  padding-top: 100%;
}

#settingsContainer
  #settingsNavContainer
  #settingsNavContentBottom
  #settingsNavDone {
  background: transparent;
  width: 100%;
  height: 24px;
  margin-bottom: 4px;
  color: rgb(201, 201, 201);
  border: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  text-align: left;
  padding: 0 8px;
  border-left: 4px solid transparent;
  cursor: pointer;
}

#settingsContainer
  #settingsNavContainer
  #settingsNavContentBottom
  #settingsNavDone:hover {
  color: white;
}

#settingsContainer .settingsTabHeader {
  margin-bottom: 12px;
}

#settingsContainer .settingsTabHeader .settingsTabHeaderText {
  display: block;
  font-size: 18px;
  font-weight: bolder;
}

/** Settings - Account **/
.settingsAuthAccountTypeContainer {
  margin-bottom: 20px;
}

.settingsAuthAccountTypeContainer .settingsAuthAccountTypeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  margin-bottom: 6px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccountTypeHeader
  .settingsAuthAccountTypeHeaderLeft {
  display: flex;
  align-items: center;
  gap: 6px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccountTypeHeader
  .settingsAddAuthAccount {
  background: transparent;
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
  border-radius: 2px;
  font-family: inherit;
  cursor: pointer;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccountTypeHeader
  .settingsAddAuthAccount:hover {
  border-color: #fff;
  color: #fff;
}

.settingsAuthAccountTypeContainer .settingsAuthAccount {
  border: 1px solid #555555;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 12px 18px;
  border-radius: 6px;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  gap: 16px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountDetailPane {
  margin-bottom: 16px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountDetailPane
  .settingsAuthAccountDetailTitle {
  color: #b9b9b9;
  font-weight: bold;
  font-size: 13px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountActions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountActions
  button {
  background: transparent;
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
  border-radius: 2px;
  font-family: inherit;
  cursor: pointer;
  height: 22px;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountActions
  button:hover {
  border-color: #fff;
  color: #fff;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountActions
  button[selected] {
  border-color: transparent;
  color: #fff;
  cursor: default;
  padding-left: 0;
}

.settingsAuthAccountTypeContainer
  .settingsAuthAccount
  .settingsAuthAccountActions
  .settingsAuthAccountLogOut:hover {
  border-color: #ff2a2a;
  background: #ff2a2a;
  color: #fff;
}

/** Settings - Update **/
#settingsUpdateStatusContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(126, 126, 126, 0.57);
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
}

#settingsUpdateStatusContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#settingsUpdateStatusHeadline {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(126, 126, 126, 0.57);
}
#settingsUpdateTitle {
  font-size: 18px;
  font-weight: bold;
}

#settingsUpdateVersion {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(126, 126, 126, 0.57);
}

#settingsUpdateVersionCheck {
  border-radius: 50%;
  background: #23aa23;
  text-align: center;
  font-weight: bold;
  margin: 11px 12px;
  color: white;
  height: 15px;
  width: 15px;
  font-size: 16px;
  line-height: 18px;
}

#settingsUpdateVersionDetails {
  margin-left: 10px;
}

#settingsUpdateVersionTitle {
  font-size: 16px;
  font-family: inherit;
  font-weight: "bold";
  color: #23aa23;
  font-weight: bold;
}

#settingsUpdateVersionLine {
  font-size: 10px;
  color: grey;
  font-weight: bold;
}

#settingsUpdateActionContainer {
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

#settingsUpdateActionButton {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-align: left;
  transition: 0.25s ease;
  color: #c7c7c7;
  font-family: inherit;
}
#settingsUpdateActionButton:hover,
#settingsUpdateActionButton:focus,
#settingsUpdateActionButton:active {
  color: white;
}
#settingsUpdateActionButton:disabled {
  pointer-events: none;
}

/* Settings - About */
#settingsAboutCurrentContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(126, 126, 126, 0.57);
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
}

#settingsAboutCurrentContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#settingsAboutCurrentHeadline {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(126, 126, 126, 0.57);
}
#settingsAboutLogo {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#settingsAboutTitle {
  font-size: 23px;
  padding-left: 10px;
}

#settingsAboutCurrentVersion {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#settingsAboutCurrentVersionCheck {
  border-radius: 50%;
  background: #23aa23;
  text-align: center;
  font-weight: bold;
  margin: 11px 12px;
  color: white;
  height: 15px;
  width: 15px;
  font-size: 12px;
  line-height: 17px;
}

#settingsAboutCurrentVersionDetails {
  margin-left: 10px;
}

#settingsAboutCurrentVersionTitle {
  font-size: 14px;
  color: #23aa23;
  font-weight: bold;
}

#settingsAboutCurrentVersionLine {
  font-size: 14px;
  color: grey;
  font-weight: bold;
}

#settingsAboutButtons {
  display: flex;
  padding: 0px 15px;
  margin-bottom: 5px;
}
.settingsAboutButton {
  background: none;
  border: none;
  font-size: 10px;
  color: grey;
  padding: 0px 5px;
  transition: 0.25s ease;
  outline: none;
  text-decoration: none;
}
.settingsAboutButton:hover,
.settingsAboutButton:focus {
  color: rgb(165, 165, 165);
}
.settingsAboutButton:active {
  color: rgba(124, 124, 124, 0.75);
}

.settingsChangelogContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(126, 126, 126, 0.57);
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
}

.settingsChangelogContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.settingsChangelogHeadline {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(126, 126, 126, 0.57);
}
.settingsChangelogLabel {
  font-size: 14px;
  color: rgb(170, 170, 170);
  font-weight: bold;
}

.settingsChangelogText {
  font-size: 12px;
}

.settingsChangelogText p {
  margin-bottom: 16px;
  line-height: 1.5;
}
.settingsChangelogText blockquote {
  border-left: 0.25em solid rgba(126, 126, 126, 0.95);
  margin: 0px;
  padding: 0 0 0 1em;
  color: rgba(255, 255, 255, 0.85);
}
.settingsChangelogText code {
  padding: 0.1em 0.4em;
  font-size: 85%;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 3px;
  font-family: inherit;
}
.settingsChangelogText li + li {
  margin-top: 0.25em;
}
.settingsChangelogText a.commit-link {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.settingsChangelogText a.commit-link:hover {
  text-decoration: underline !important;
  text-decoration-color: black;
}
.settingsChangelogText tt {
  padding: 0.1em 0.4em;
  font-size: 86%;
  background-color: white;
  border-radius: 3px;
  color: black;
  font-weight: bold;
}
.settingsChangelogText a.commit-link:hover tt {
  text-decoration: underline;
  text-decoration-color: black;
}
.settingsChangelogText .highlight {
  background: rgba(0, 0, 0, 0.3);
  user-select: initial;
  padding: 5px 10px;
}
.settingsChangelogText .highlight pre {
  margin: 0px;
}

.settingsChangelogActions {
  padding: 0px 15px 5px 15px;
}
.settingsChangelogButton {
  padding: 0px;
}